<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffc0cb;">
    <a class="navbar-brand" href="https://github.com/agnesarth/the_gossip_project_le_retour">The Gossip Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/gossips">Accueil</a>
        </li>
        <li class="nav-item">
          <%= link_to "La Team", team_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "S'inscrire", new_user_path, class:"nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container-fluid text-center">
  <div class="texte-bienvenue">
    <h1>Editer le commentaire</h1>
  </div>
  <!-- Editer un commentaire ici -->
  <%= form_for @comment do |f| %>
    <div class="form-group">
      <label> Commentaire à modifier </label>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <div class="form-group">
    <button type="submit" class="btn" style="background-color: #ffc0cb">Modifier le commentaire</button>
   
    <!-- Supprimer un commentaire ici -->
    <a href="/comments/<%= @comment.id %>" class="btn btn-danger" data-confirm="T'es sûr(e) de vouloir supprimer ça ?" data-method="DELETE">Supprimer le commentaire</a>
    </div>
  <% end %>
</div>
