<h1>Inscription nouvel utilisateur</h1>
  <%= form_for @user do |f| %>
    <div class="form-group">
      <label> Ton prénom</label>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label> Ton nom</label>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag "Ta ville"%>
      <%= select_tag "city", options_from_collection_for_select(City.all, :id, :name), {class: 'form-control', prompt: 'Choisir une ville'} %>
    </div>
    <div class="form-group">
      <label> Adresse e-mail</label>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label> Mot de passe</label>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
    <button type="submit" class="btn" style="background-color: #ffc0cb">Créer son profil</button>
    </div>
  <% end %>
</div>

