<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffc0cb;">
    <a class="navbar-brand">The Gossip Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="/gossips">Accueil</a>
        </li>
        <li class="nav-item">
          <%= link_to "La Team", team_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class:"nav-link" %>
        </li>
      </ul>
    </div>
    <div class="nav-item d-flex flex-row-reverse">
      <ul class="navbar-nav">
        <% if signed_in? %>
          <li><%= link_to "Se déconnecter", session_path(session.id), method: :delete %></li>
        <% else %>
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              S'inscrire / Se connecter
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href=<%= new_user_path %>>S'inscrire</a>
            <a class="dropdown-item" href=<%= new_session_path %>>Se connecter</a>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </nav>
</header>

<div class="container-fluid text-center">
  <div class="texte-bienvenue">
    <h1>Bienvenue à <%= @city.name %></h1>
    <h2>Voici les potins de cette ville :</h2>
  </div>

  <!-- Dans la view show de City : afficher tous les potins -->
  <!-- City est lié à User donc 1ere boucle sur User.all-->
  <!-- Gossip n'a pas de city_id mais un user_id, donc 2e boucle sur user_id -->
  <div class="row" style= "display: flex; flex-flow: row wrap; justify-content: space-around;">
    <% User.where(city_id: @city.id).each do |user| %>
      <% Gossip.where(user_id: user.id).each do |gossip| %>
        <div class="card" style="width: 25rem" >
          <div class="card-body" style="background-color:#ffc0cb;">
            <h5 class="card-title text-center" ><%= gossip.title %><br /></h5>
            <p class="card-text text-center">- <%= gossip.user.first_name %></p><br />
            <a href="/gossips/<%= gossip.id %>" class="btn btn-block" style="background-color: #ffffff">Gossiiiiiiip ici</a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

